Package: adguardhome
Version: {{version}}
Priority: standard
Section: misc
Architecture: {{architecture}}
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: {{size}}
Homepage: https://github.com/AdguardTeam/AdGuardHome
Description: Network-wide ads & trackers blocking DNS server
 AdGuard Home is a network-wide software for blocking ads & tracking.
 After you set it up, it'll cover ALL your home devices, and you don't need
 any client-side software for that.
 .
 It operates as a DNS server that re-routes tracking domains to a
 "black hole", thus preventing your devices from connecting to those servers.
 It's based on software we use for our public AdGuard DNS servers -- both
 share a lot of common code.
